<div id="modal-<%= country.name.downcase.remove(" ") %>" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title"><span class="fi <%= country.flag %>"></span> <%= country.name.capitalize %></h2>
        <h2> <%= UserRecipe.where(user: current_user).joins(recipe: :country).where(countries: { id: country.id }).count %>/<%= recipes_count %> </h2>
      </div>

      <div class="modal-body d-block pb-0">
        <%= render 'carousel', recipes: Recipe.where(country_id: country.id), country: country %>
      </div>

      <%# petite barre blanche en bas %>
        <div class="modal-footer"></div>

        <%# Bouton pour fermer le modal %>
        <div class="d-inline-block mx-auto">
          <button type="button" class="bouton-close mt-4" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
