
<div data-controller="search-modal">

  <div class="d-flex justify-content-center my-4">

    <%# form des filtres + search bar %>

    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>

      <%# filter button %>
      <div class="filter-button" data-action="click->search-modal#toggle">
        <i class="fa-solid fa-bars"></i>
      </div>

      <%# filter menu %>
      <div class="filter-menu d-none" data-search-modal-target="filter">
        <div class="d-flex mx-auto">

          <%# prep time menu %>
          <div class="px-4 my-2" style="border-right:1px solid #cccccc">
            <h5>Prep time</h3>
            <div>
              <div>
                <input id="preptime-0" name="preptime" type="radio" value="0" checked="checked"/>
                <label for="preptime-0">All</label>
              </div>
              <div>
                <input id="preptime-1" name="preptime" type="radio" value="1" />
                <label for="preptime-1">&lt30min</label>
              </div>
              <div>
                <input id="preptime-2" name="preptime" type="radio" value="2" />
                <label for="preptime-2">30-60min</label>
              </div>
              <div>
                <input id="preptime-3" name="preptime" type="radio" value="3" />
                <label for="preptime-3">60+min</label>
              </div>
            </div>
          </div>

          <%# difficulty menu %>
          <div class="px-4 my-2">
            <h5>Difficulty</h3>
            <div>
              <div>
                <input id="difficulty-0" name="difficulty" type="radio" value="0" checked="checked"/>
                <label for="difficulty-0">All</label>
              </div>
              <div>
                <input id="difficulty-1" name="difficulty" type="radio" value="1" />
                <label for="difficulty-1">Easy</label>
              </div>
              <div>
                <input id="difficulty-2" name="difficulty" type="radio" value="2" />
                <label for="difficulty-2">Medium</label>
              </div>
              <div>
                <input id="difficulty-3" name="difficulty" type="radio" value="3" />
                <label for="difficulty-3">Hard</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%# search bar %>
      <div class="d-flex">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-field",
              placeholder: "Recipe, keyword, ingredient..." %>

        <button type="submit" class="btn search-loupe ms-2">
          <i class="fa-solid fa-magnifying-glass search-loupe-icon" style="font-size: 1.5rem"></i>
        </button>
      </div>

    <% end %>
  </div>


  <%# Si il y a une recherche, ça construit la modal et ça l'affiche grace au controller stimulus search_modal %>
  <div id="myModal" class="modal" tabindex="-1" data-search-modal-target="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded">

        <%# Header du modal avec le nombre de résultats %>
        <div class="modal-header bg-white">
          <% if @searched_recipes.empty? %>
            <h2 class="modal-title">No results</h2>
          <% else %>
            <h2 class="modal-title"><%= @searched_recipes.count %> result<%= "s" if @searched_recipes.count > 1 %></h2>
          <% end %>
        </div>

        <%# Body du modal avec iteration de l'array searched_recipes qui regroupe les recettes recherchées %>
        <div class="modal-body modal-body-height d-block pb-0">

          <%# Si pas de résultat affiche un logo et no result found %>
          <% if @searched_recipes.empty? %>
            <div class="d-flex justify-content-around" style="margin-top:20vh">
              <div>
                <div class="d-flex justify-content-around">
                  <%= render inline: Rails.root.join('app/assets/images/no_result.svg').read %>
                </div>
                <h1>No results found...</h1>
              </div>
            </div>
          <% end %>

          <% @searched_recipes.each do |recipe| %>

            <%= link_to recipe_path(recipe), class: "recipe-card-link" do %>

            <div class="mb-4">
              <%# image %>
              <div>
                <%= cl_image_tag recipe.photo.key, class: "recipe-show-img shadow rounded-10-top" %>
              </div>
              <%# informations %>
              <div class="rounded-10-bottom shadow bg-white p-3">
                <%# nom de la recette %>
                <h3><%= recipe.name %></h1>

                <%# pays et XP %>
                <div class="d-flex justify-content-between">
                  <%# drapeau et nom du pays %>
                  <h5><span class="fi <%= recipe.country_flag(recipe.country.name) %>"></span> <%= recipe.country.name.capitalize %></h5>

                  <%# xp et checkmark si recette deja réalisée %>
                  <% if UserRecipe.where(recipe_id: recipe.id, user_id: current_user.id).exists? %>
                    <div class="d-flex">
                      <h5 style="color: rgba(0,0,0,0.4)"><s><%= recipe.xp %>XP</s></h5>
                      <div class="check-circle">✓</div>
                    </div>
                  <% else %>
                    <h5><%= recipe.xp %>XP</h5>
                  <% end %>
                </div>

                <%# difficulté %>
                <div class="d-flex">
                  <% difficulty = recipe.difficulty %>
                  <% if difficulty == "hard" %>
                    <%= image_tag("hard.png", size: "24") %>
                  <% elsif difficulty == "medium" %>
                    <%= image_tag("mid.png", size: "24") %>
                  <% else %>
                    <%= image_tag("ezz.png", size: "24") %>
                  <% end %>
                  <h5 class="ms-2"><%= recipe.difficulty.capitalize %></h5>
                </div>

                <%# preptime %>
                <h5><i class="fa-regular fa-clock"></i> <%= recipe.min_to_h(recipe.prep_time) %></h5>

                <%# keywords %>
                <% recipe.keyword_list.each do |keyword| %>
                  <h5 class="keyword <%= "kw-" + keyword %>"><%= keyword.capitalize %></h5>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>

        <%# petite barre blanche en bas %>
        <div class="modal-footer"></div>

        <%# Bouton pour fermer le modal %>
        <div class="d-inline-block mx-auto">
          <button type="button" class="bouton-close mt-4" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
