<h1>Show de la recette - EN CONSTRUCTION</h1>

<h3><%= @recipe.name %></h3>
<h4>Pays : <%= @recipe.country.name %></h4>
<h4>Pour <%= @recipe.servings %> personnes</h4>
<h4>Vous rapporte <%= @recipe.xp %>XP</h4>
<h4>Difficulté : <%= @recipe.difficulty %></h4>
