<% @user_recipes.each do |ur| %>
    <%= link_to recipe_path(ur.recipe), class: "recipe-card-link" do %>

      <div class="mt-4">
        <%# image %>
        <div>
          <%= cl_image_tag ur.recipe.photo.key, class: "recipe-show-img rounded-10-top shadow-sm" %>
        </div>
        <%# informations %>
        <div class="rounded-10-bottom shadow-sm bg-white p-3">
          <%# nom de la recette %>
          <h3><%= ur.recipe.name %></h1>

          <%# pays et XP %>
          <div class="d-flex justify-content-between">
            <%# drapeau et nom du pays %>
            <h5><span class="fi <%= ur.recipe.country.flag %>"></span> <%= ur.recipe.country.name.capitalize %></h5>

            <%# xp et checkmark si recette deja réalisée %>
            <div class="d-flex">
              <h5 style="color: rgba(0,0,0,0.4)"><s><%= ur.recipe.xp %>XP</s></h5>
              <div class="check-circle">✓</div>
            </div>
          </div>

          <%# difficulté %>
          <div class="d-flex">
            <% difficulty = ur.recipe.difficulty %>
            <% if difficulty == "hard" %>
              <%= image_tag("hard.png", size: "24") %>
            <% elsif difficulty == "medium" %>
              <%= image_tag("mid.png", size: "24") %>
            <% else %>
              <%= image_tag("ezz.png", size: "24") %>
            <% end %>
            <h5 class="ms-2"><%= ur.recipe.difficulty.capitalize %></h5>
          </div>

          <%# preptime %>
          <h5><i class="fa-regular fa-clock"></i> <%= ur.recipe.min_to_h %></h5>

          <%# keywords %>
          <% ur.recipe.keyword_list.each do |keyword| %>
            <h5 class="keyword <%= "kw-" + keyword %>"><%= keyword.capitalize %></h5>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
