<h1>Cookbook</h1>

<% @user_recipes.each do |ur| %>
  <%= link_to recipe_path(ur.recipe), class: "recipe-card-link" do %>
    <div class="container recipe-card">
      <div>
      <%# taille correspondant au figma width:111 & height 111 %>
      <%# faites pas attention a l image c'est pour tester %>
      <%= image_tag("burger", size: "111") %>
      </div>
      <div class="row">
        <div class="col-12">
        <h3><%= ur.recipe.name.capitalize %></h3>
        </div>
        <div class="col-2 text-center">
          <i class="fa-regular fa-clock"></i>
        </div>
        <div class="col-10 px-0">
          <p><%= ur.recipe.country.name.capitalize %></p>
        </div>
        <div class="col-2 text-center">
          <i class="fa-regular fa-clock"></i>
        </div>
        <div class="col-10 px-0">
          <p><%= ur.recipe.prep_time %> min</p>
        </div>
        <div class="col-2 text-center">
          <% difficulty = ur.recipe.difficulty %>
            <% if difficulty == "hard" %>
              <%= image_tag("hard.png", size: "16") %>
            <% elsif difficulty == "medium" %>
              <%= image_tag("mid.png", size: "16") %>
            <% else %>
              <%= image_tag("ezz.png", size: "16") %>
            <% end %>
        </div>
        <div class="col-10 px-0">
        <p><%= ur.recipe.difficulty %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
