<div class="col-11 mx-auto">

  <div class="profile-banner bg-white rounded-10 my-3">
    <%= image_tag("Avatar.png")%>
    <div>
      <h1><%= current_user.username %></h1>
      <p>200XP</p>
    </div>
  </div>



  <div class="badges-container rounded-10">
    <h1>Showcase your badges</h1>
    <div class="badges">

      <%= button_tag(type: "button", class: "round-btn", "data-bs-toggle": "modal", "data-bs-target": "#badge-modal") do %>
        <%= image_tag("add-badge-placeholder.png", class: "col-3") %>
      <% end %>

      <%= button_tag(type: "button", class: "round-btn", "data-bs-toggle": "modal", "data-bs-target": "#badge-modal") do %>
        <%= image_tag("add-badge-placeholder.png", class: "col-3") %>
      <% end %>

      <%= button_tag(type: "button", class: "round-btn", "data-bs-toggle": "modal", "data-bs-target": "#badge-modal") do %>
        <%= image_tag("add-badge-placeholder.png", class: "col-3") %>
      <% end %>

    </div>
  </div>



  <%# <div class="stats-card-container"> %>
  <div>
    <div class="d-flex justify-content-around mb-4">
      <div class="stats-card col-5" data-bs-toggle="modal" data-bs-target="#lastdish">
        <h3>The last dish</h3>
        <%= image_tag("card-lastdish.jpg") %>
        <h3>you have done</h3>
      </div>
      <div class="stats-card col-5" data-bs-toggle="modal" data-bs-target="#lastdish">
        <h3>Your average</h3>
        <%= image_tag("card-avr-cookingtime.jpg") %>
        <h3>cooking time</h3>
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <div class="stats-card col-5" data-bs-toggle="modal" data-bs-target="#lastdish">
        <h3>Your favorite</h3>
        <%= image_tag("card-fav-destination.jpg") %>
        <h3>destination</h3>
      </div>
      <div class="stats-card col-5" data-bs-toggle="modal" data-bs-target="#lastdish">
        <h3>Your favorite</h3>
        <%= image_tag("card-fav-ingredient.jpg") %>
        <h3>ingredient</h3>
      </div>
    </div>
  </div>


<div class="modal fade" id="lastdish" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body mx-auto col-8 rounded-10">
        <h4><%= @m_last_dish %></h4>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="badge-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body mx-auto rounded-10">

        <div class="d-flex flex-wrap justify-content-around">
          <% @badges_won.each do |badge| %>
            <% if badge.icon %>
              <%= image_tag(badge.icon, class: "mb-2", style: "height: 120px; width: auto;") %>
            <% else %>
              <h1 style="height: 120px; width: 120px;"><%= badge.name %></h1>
            <% end %>
          <% end %>
        </div>

        <hr>

        <div class="d-flex flex-wrap justify-content-around">
          <% @badges_locked.each do |badge| %>
            <% if badge.icon %>
              <%= image_tag(badge.icon, class: "mb-2", style: "height: 120px; width: auto;") %>
            <% else %>
              <h1 style="height: 120px; width: 120px;"><%= badge.name %></h1>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
